In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/tayen/Documents/CF/Instacart Basket Analysis/02 Data'

In [3]:
df_ords = pd.read_csv(os.path.join(path,'Prepared Data','orders_processed.csv'),index_col = False)

In [4]:
df_prods = pd.read_csv(os.path.join(path,'Prepared Data','prods_processed.csv'),index_col = False)

In [5]:
df_ords_prior = pd.read_csv(os.path.join(path,'Original Data','order_products_prior.csv'),index_col = False)

In [6]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
df_ords_prior.shape

(32434489, 4)

In [8]:
df_ords.shape

(3421083, 8)

# step 1

In [9]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id',indicator = True)

In [10]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

# step 2

In [12]:
df_merged_large.to_pickle(os.path.join(path,'Prepared Data','orders_products_combined.pkl'))