In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/tayen/Documents/CF/Instacart Basket Analysis/02 Data/Prepared Data'

In [3]:
df_ords_prods_merged = pd.read_pickle(os.path.join(path,'orders_products_merged.pickle'))

In [4]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge1,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,both

# step 1 new column

### self-defined price label

In [ ]:
# if-else function
def price_label(row):
    if row['prices'] <= 5:
        return 'lowe-range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'mid-range product'
    elif row['prices'] > 15:
        return 'high-range product'
    else: return 'not enough data'

In [ ]:
# apply self -defined function
df_ords_prods_merged['price_range'] = df_ords_prods_merged.apply(price_label,axis = 1)

In [5]:
# loc() function 
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'high range product'

In [6]:
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] < 5, 'price_range_loc'] = 'low range product'

In [7]:
df_ords_prods_merged.loc[(df_ords_prods_merged['prices'] <= 15) & (df_ords_prods_merged['prices'] >= 5), 'price_range_loc'] = 'mid range product'

In [8]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge1,product_name,aisle_id,department_id,prices,_merge,price_range_loc
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both,mid range product
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,both,mid range product
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,both,mid range product
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,both,mid range product
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,both,mid range product

In [16]:
df_ords_prods_merged['price_range_loc'].value_counts(dropna = False)

mid range product     22086764
low range product      9900417
high range product      417678
Name: price_range_loc, dtype: int64

# step 2

In [10]:
df_ords_prods_merged['order_dow'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_dow, dtype: int64

In [17]:
result = []
for value in df_ords_prods_merged['order_dow']:
    if value == 0 or value == 1:
        result.append('busiest days')
    elif value == 4 or value == 3:
        result.append('lowest days')
    else: 
        result.append('regularly days')

In [18]:
df_ords_prods_merged['busiest_day'] = result

# step 3

In [19]:
df_ords_prods_merged['busiest_day'].value_counts(dropna = False)

regularly days    12916111
busiest days      11864412
lowest days        7624336
Name: busiest_day, dtype: int64

# step 4

In [21]:
df_ords_prods_merged['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

In [23]:
df_ords_prods_merged['order_hour_of_day'].describe()

count    3.240486e+07
mean     1.342515e+01
std      4.246380e+00
min      0.000000e+00
25%      1.000000e+01
50%      1.300000e+01
75%      1.600000e+01
max      2.300000e+01
Name: order_hour_of_day, dtype: float64

In [31]:
result = []
for value in df_ords_prods_merged['order_hour_of_day']:
    if value >= 9 and value <= 16:
        result.append('Most orders')
    elif value >= 0 and value <= 6:
        result.append('Fewest orders')
    else: 
        result.append('Average orders')

In [32]:
df_ords_prods_merged['busiest_period_of_day'] = result

# step 5

In [33]:
df_ords_prods_merged['busiest_period_of_day'].value_counts(dropna = False)

Most orders       21118071
Average orders    10399967
Fewest orders       886821
Name: busiest_period_of_day, dtype: int64

# step 7

In [34]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge1,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both,mid range product,regularly days,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,both,mid range product,lowest days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,both,mid range product,lowest days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,both,mid range product,lowest days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,both,mid range product,lowest days,Most orders

In [38]:
df_ords_prods_merged.to_pickle(os.path.join(path,'df_ords_prods_labelled.pickle'))